@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Light.ttf');
  font-style: normal;
}

/*******************************************************************************
 * Général
 ******************************************************************************/
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "Open Sans";
}

h1 {
  font-size: 40px;
  color: #8bba2f;
}

h2 {
  font-size: 35px;
  color: #659a26;
}

h3 {
  font-size: 30px;
  color: #1986c2;
}

h4 {
  font-size: 25px;
  color: #acafb6;
}

h5 {
  font-size: 22px;
  color: #e8700f;
}

h6 {
  font-size: 18px;
  color: #e8700f;
}

a {
  color: #759fb3;
}

a:hover {
  color: #0d87c2;
}

.page {
  font-size: 16px;
  font-family: "Open Sans";
  color: #777;
  line-height: 1.4;
  text-align: left;
}

/*******************************************************************************
 * Entete
 ******************************************************************************/
header {
  text-align: right;
}

/*******************************************************************************
 * Menu
 ******************************************************************************/

nav {
  background: #8bba2f;
}

nav ul {
  padding-left: 0;
  text-align: right;
}

nav li {
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 30px;
  list-style: none;
}

nav li li {
  background: #316844;
}

nav li a {
  color: white;
  display: block;
}

nav li a:hover {
  color: white;
  text-decoration: underline;
}
