@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Light.ttf');
  font-style: normal;
}

/*******************************************************************************
 * Général
 ******************************************************************************/
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "Open Sans";
}

h1 {
  font-size: 40px;
  color: #8bba2f;
}

h2 {
  font-size: 35px;
  color: #659a26;
}

h3 {
  font-size: 30px;
  color: #1986c2;
}

h4 {
  font-size: 25px;
  color: #acafb6;
}

h5 {
  font-size: 22px;
  color: #e8700f;
}

h6 {
  font-size: 18px;
  color: #e8700f;
}

a {
  color: #759fb3;
}

a:hover {
  color: #0d87c2;
}

.page {
  font-size: 16px;
  font-family: "Open Sans";
  color: #777;
  line-height: 1.4;
}

/*******************************************************************************
 * Entete
 ******************************************************************************/
header {
  text-align: right;
}

#main, footer {
  padding: 0 30px;
}

/*******************************************************************************
 * Menu
 ******************************************************************************/
nav {
  background: #8bba2f;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
}

nav div.include ul {
  padding-right: 30px;
}

nav ul {
  display: block;
  padding-left: 0;
  text-align: right;
}

nav li {
  color: white;
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 30px;
  list-style: none;
}

nav li ul {
  background: #316844;
  margin-right: -30px;
}

nav ul li {
  cursor: pointer;
}

nav li a {
  color: white;
  display: block;
}

nav li a:hover {
  color: white;
}

/* Menu spécifique javascript */
.hide {
  display: none;
}

.dropdown:before {
  content: '';
  color: #316844;
  position: absolute;
  right: -25px;
  top: 12px;
  border-top: 10px solid #316844;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

/*******************************************************************************
 * Écran large
 ******************************************************************************/
 @media all and (min-width: 768px) {

  nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    min-height: 100vh;
  }

  header, footer, #main {
    margin-left: 250px;
    min-height: 10vh;
  }

  footer {
    min-height: 20vh;
  }

  #main {
    max-width: 53em;
    min-height: 70vh;
  }
}
